<h1 mat-dialog-title>Buy {{data.merchant.merchantName}}</h1>
<h4 mat-dialog-title>Price: {{data.merchant.costToBuyPoints}}</h4>
<div mat-dialog-content>
  <p>Choose player</p>
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      [(ngModel)]="data.buyingPlayerId">
      <mat-radio-button class="example-radio-button" *ngFor="let player of data.players" [value]="player.playerId">
        {{player.playerName}}<br>
      </mat-radio-button>
    </mat-radio-group>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.buyingPlayerId" cdkFocusInitial>BUY</button>
</div>
