<div *ngIf="loading" class="spinner-border" role="status">
  <span class="sr-only">Loading...</span>
</div>

<div class="flex-container">
  <div *ngIf="!loading">
    <h2 class="h3">Leaderboard:</h2>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Player name</th>
        <th scope="col">UUID</th>
        <th scope="col">Points</th>
        <th scope="col">Merchants</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let player of players; let i = index">
        <th scope="row">{{i}}</th>
        <td>{{player.playerName}}</td>
        <td>{{player.playerId}}</td>
        <td [ngClass]="applyStyle(player)">{{player.points}}</td>
        <td>{{player.merchants}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="map_row">
    <div id="image_map">
      <map name="image-map" class="pointer-child">
        <area (click)="info()" target="_blank" alt="Go" title="Go" coords="1,886,135,1022" shape="rect">
        <area (click)="buyBrown()" target="" alt="Brown" title="Brown" coords="1,636,139,882,87,91" shape="rect">
        <area (click)="buyBlue()" target="" alt="Blue" title="Blue" coords="139,469,1,140" shape="rect">
        <area (click)="buyPink()" target="" alt="Pink" title="Pink" coords="470,1,141,136" shape="rect">
        <area (click)="buyOrange()" target="" alt="Orange" title="Orange" coords="554,1,886,136" shape="rect">
        <area (click)="buyRed()" target="" alt="Red" title="Red" coords="886,141,1023,470" shape="rect">
        <area (click)="buyYellow()" target="" alt="Yellow" title="Yellow" coords="884,553,1023,886" shape="rect">
        <area (click)="buyGreen()" target="" alt="Green" title="Green" coords="552,886,883,1023" shape="rect">
        <area (click)="buyDarkBlue()" target="" alt="Dark Blue" title="Dark Blue" coords="388,887,140,1023" shape="rect">
      </map>
      <img alt="image map example" src="/assets/map.png" usemap="#image-map"/>
    </div>
  </div>


  <div *ngIf="!loading">
    <h2 class="h3">Merchants:</h2>
    <ul>
      <li *ngFor="let merchant of merchants; let i = index">
        {{merchant.merchantName}} - {{merchant.players.length}} - {{merchant.players.map(myFunction)}}
      </li>
    </ul>
  </div>

</div>
